{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row text-center">
    <h1 class="mt-5 header">Edit review for {{ product.product_name }}</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6">
      <form class="mt-3" action="{% url 'edit_review' review.id %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-3">
          <button class="mb-5">Edit review</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

