{% extends 'base.html' %} {% block content %}
<div class="container mx-auto">
  <!-- page header -->
  <h1 class="header text-center m-4">Edit Discount</h1>
  <div class="col-md-6 mx-auto">
    <div class="card p-4 mb-4 mx-auto text-center">
      <!-- info on current price/discount -->
      <h3>Editing discount for {{ product.product_name }}</h3>
      <p><strong>Normal Retail Price: £{{ product.price }}</strong></p>
      {% if product.discounted_price %}
      <p>
        <strong>Current Discount: {{ product.discount.percentage }}%</strong>
      </p>
      <p><strong>Discounted Price: £{{ product.discounted_price }}</strong></p>
      {% else %}
      <p>This item currently has no discount applied</p>
      <p><strong>Current Price: £{{ product.price }}</strong></p>
      {% endif %}
      <!-- form to edit discount for product -->
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="text-center mt-3">
          <!-- button to submit form and edit discount -->
          <button type="submit" class="button d-inline-block">
            Update Discount
          </button>
        </div>
      </form>
      <!-- button to return to manage promotions -->
      <div class="text-center m-3">
        <a href="{% url 'manage_promotions' %}" class="button d-inline-block"
          >Back to Promotions</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
