/* set the screen width breakpoints at which shopping bag changes between
card and table layouts */

@media (max-width: 995px) {
    .mobile-card-layout {
        display: block;
    }
    .desktop-table-layout {
        display: none;
    }
}

@media (min-width: 996px) {
    .mobile-card-layout {
        display: none;
    }
    .desktop-table-layout {
        display: block;
    }
}
