/*============================================================================
======================== products page header styles ==========================
============================================================================*/
/* page title */


/*============================================================================
====================== products page products styles ==========================
============================================================================*/
/* single product container */
.product-container {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* products buttons */
.products-button {
    color: #f8f9fa;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    text-shadow: 0 0 6px #000000, 0 0 9px #000000, 0 0 12px #000000;
    text-decoration: none;
    background-color: black;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    margin-top: 10px;
}
/*============================================================================
======================= product detail page styles ===========================
============================================================================*/
.offer-star {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    fill: black;
}


/* line through for old price */
.line-through {
    text-decoration: line-through;
  }