/*============================================================================
======================== products page header styles ==========================
============================================================================*/
/* page title */


/*============================================================================
====================== products page products styles ==========================
============================================================================*/
/* single product container */
.product-container {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*============================================================================
======================= product detail page styles ===========================
============================================================================*/
.offer-star {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    fill: black;
}


/* line through for old price */
.line-through {
    text-decoration: line-through;
  }