/*============================================================================
========================= styles for offers star =============================
============================================================================*/
.offer-star {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    fill: black;
}