{% extends 'base.html' %} {% load static %} {% block extra_css %}
<!-- homepage specific CSS link -->
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock%} {% block content %}
<!-- div containing hero image and content -->
<div class="container-fluid">
  <!-- products page title -->
  <div class="row justify-content-center">
    <div class="col-8 mt-5 products-header">
      <h1>Reviews of {{ product.product_name }}</h1>
    </div>
  </div>
  <!-- products page products container -->
  <div class="row justify-content-center">
    <!-- loop through each product and create container -->
    <div class="col-8 col-sm-3 product-details-container">
      <!-- set image if products has one -->
      {% if product.image %}
      <a href="{{ product.image.url }}" target="_blank">
        <img
          class="card-img-top img-fluid"
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
        />
      </a>
      <!-- or no image png if product has no image -->
      {% else %}
      <a href="{{ MEDIA_URL }}noimage.png" target="_blank">
        <img
          class="card-img-top img-fluid"
          src="{{ MEDIA_URL }}noimage.png"
          alt="{{ product.name }}"
        />
      </a>
      {% endif %}
      <p class="">Size :</p>
      <p class="">Price : £{{ product.price }}</p>
      {% if product.category %}
      <p class="">Category : {{ product.category.friendly_name }}</p>
      {% endif %}
    </div>
  </div>
  <div class="text-center">
    {% if reviews %} {% for review in reviews %} 
    {% if review.rating == 1 %}
    <p><i class="fa-solid fa-star"></i></p>
    {% elif review.rating == 2 %}
    <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
    {% elif review.rating == 3 %}
    <p>
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
      ><i class="fa-solid fa-star"></i>
    </p>
    {% elif review.rating == 4 %}
    <p>
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
      ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </p>
    {% elif review.rating == 5 %}
    <p>
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
      ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
      ><i class="fa-solid fa-star"></i>
    </p>
    {% endif %}
    <p>{{ review.review }}</p>
    {% if request.user.is_authenticated %} 
    {% if request.user == review.user or request.user.is_superuser %}
    <a href="{% url 'edit_review' review.review_id %}" class="products-button"
      >Edit Review</a
    >
    {% endif %} {% endif %} {% endfor %} {% else %}
    <p>This product doesn't currently have any reviews</p>
    {% endif %}

    <a href="{% url 'add_review' product.id %}" class="products-button"
      >Add review for this Product</a
    >
  </div>

  <!-- container with back to products button -->
  <div class="row">
    <a
      href="{% url 'product_detail' product.id %}"
      class="col-3 offset-8 products-button"
      >Back to Product</a
    >
  </div>
</div>
{% endblock %}
