{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 mt-5 header text-center">
      <h1>All Reviews</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
<div class="text-center col-12 col-md-6">
  {% if reviews %} {% for review in reviews %}
  <hr>
  <h3 class="m-4">Review for {{ review.product.product_name }}</h3>
  {% if review.rating == 1 %}
  <p><i class="fa-solid fa-star"></i></p>
  {% elif review.rating == 2 %}
  <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
  {% elif review.rating == 3 %}
  <p>
    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
    ><i class="fa-solid fa-star"></i>
  </p>
  {% elif review.rating == 4 %}
  <p>
    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
    ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
  </p>
  {% elif review.rating == 5 %}
  <p>
    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
    ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
    ><i class="fa-solid fa-star"></i>
  </p>
  {% endif %}
  <p>"{{ review.review }}"</p>
  {% if request.user.is_authenticated %} 
  {% if request.user == review.user or request.user.is_superuser %}
  <a
    href="{% url 'delete_review' review.review_id %}"
    onclick="return confirm('Are you sure you want to delete this review? This action cannot be undone.')"
    class="button m-4"
    >Delete Review</a
  >
  {% endif %} {% endif %} {% endfor %}
</div> {% else %}
  <p>There are no any reviews to view</p>
  {% endif %}
</div>
{% endblock %}
