<!-- nav bar for full screen -->
<nav class="navbar bg-body-tertiary d-none d-sm-block">
  <div class="container-fluid">
    <!-- title of site - links back to home page -->
    <a class="navbar-brand site-logo" href="{% url 'home' %}">Coffee Shop</a>
    <!-- search box -->
    <form class="d-flex mx-auto border" role="search" method="GET" action="{% url 'products' %}">
      <!-- div input-group for placing button inside input -->
      <div class="input-group">
        <input
          class="form-control border-0 search-bar-text"
          type="text"
          name="q"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn bg-white border-0" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
    <!-- user profile icon -->
    <a
      class="p-2 navbar-icon"
      href="#"
      id="user-options"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ><i class="fa-solid fa-user"></i
    ></a>
    <!-- user profile dropdown -->
    <div
      class="dropdown-menu dropdown-menu-end border-3"
      aria-labelledby="user-options"
    >
      {% if request.user.is_authenticated %} {% if request.user.is_superuser %}
      <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
      {% endif %}
      <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
      {% else %}
      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
      {% endif %}
    </div>
    <!-- shopping bag icon -->
    <a
      class="p-2 navbar-icon"
      href="#"
      id="basket-options"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ><i class="fa-solid fa-basket-shopping"></i
    >{%if grand_total %}
      £{{ grand_total|floatformat:2 }}
     {% else %}
      £0:00
     {% endif %}</a>
    <!-- basket dropdown -->
    <div
      class="dropdown-menu dropdown-menu-end border-3"
      aria-labelledby="basket-options"
    >
      <a href="{% url 'view_bag' %}" class="dropdown-item">View Basket</a>
    </div>
  </div>
  <!-- secondary navbar for shop categories-->
  <div class="container-fluid sec-navbar">
    <!-- parent container for navbar items to set display: flex -->
    <div class="mx-auto d-flex py-1">
      <!-- shop categories links as anchor elements -->
      <a
        class="shop-cat-nav shop-cat-nav-link d-inline-flex align-items-center"
        href="{% url 'products'%}?category=ground_coffee"
        >Ground Coffee</a
      >
      <!-- link spacer -->
      <p class="shop-cat-nav d-inline-flex mx-2 my-0 align-items-center">|</p>
      <a
        class="shop-cat-nav shop-cat-nav-link d-inline-flex align-items-center"
        href="{% url 'products'%}?category=coffee_beans"
        >Coffee Beans</a
      >
      <!-- link spacer -->
      <p class="shop-cat-nav d-inline-flex mx-2 my-0 align-items-center">|</p>
      <a
        class="shop-cat-nav shop-cat-nav-link d-inline-flex align-items-center"
        href="{% url 'products'%}?category=accessories"
        >Accessories</a
      >
      <!-- link spacer -->
      <p class="shop-cat-nav d-inline-flex mx-2 my-0 align-items-center">|</p>
      <a
        class="shop-cat-nav shop-cat-nav-link d-inline-flex align-items-center"
        href="{% url 'products'%}?category=special_offers"
        >Special Offers</a
      >
    </div>
  </div>
</nav>