{% extends 'base.html' %} {% load static %} {% block content %}
<!-- container for page content -->
<div class="container-fluid">
  <!-- products page title -->
  <div class="row">
    <div class="col text-center mt-5 header">
      <h1 class="header">Products</h1>
    </div>
  </div>
  <!-- product sorting dropdown  -->
  <div class="container">
    <!-- number of products visible div-->
    <div class="col-8 text-center offset-2">
      <p class="mt-3">
        {{ products|length }} Products{% if search_term %} found for '<strong>{{ search_term }}</strong>'{% endif %}
      </p>
    </div>
    <!-- product sorting dropdown -->
    <div class="row">
      <div class="m-2">
        <a
          class="button dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sort
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a
              href="?sort=price&direction=asc{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}"
              class="dropdown-item"
              >Price (Low to High)</a
            >
          </li>
          <li>
            <a
              href="?sort=price&direction=desc{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}"
              class="dropdown-item"
              >Price (High to Low)</a
            >
          </li>
          <li>
            <a
              href="?sort=avg_rating&direction=desc{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}"
              class="dropdown-item"
              >Rating (High to Low)</a
            >
          </li>
          <li>
            <a
              href="?sort=avg_rating&direction=asc{% if selected_category %}&category={{ selected_category }}{% endif %}{% if search_term %}&q={{ search_term }}{% endif %}"
              class="dropdown-item"
              >Rating (Low to High)</a
            >
          </li>
        </ul>
        <!-- display current sorting if applied -->
        {% if current_sorting != 'None_None' %}
        <p class="d-none d-md-inline ms-3">
          Current Order : 
        </p>
        <p class="ms-3 d-inline">{% if current_sorting == 'price_asc' %}
          Price (Low to High)
        {% elif current_sorting == 'price_desc' %}
          Price (High to Low)
        {% elif current_sorting == 'avg_rating_desc' %}
          Rating (High to Low)
        {% elif current_sorting == 'avg_rating_asc' %}
          Rating (Low to High)  
        {% endif %}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- products page products container -->
  <div class="row justify-content-center">
    <!-- loop through each product and create container -->
    {% for product in products %}
    <div class="col-10 col-sm-5 col-lg-3 m-3 product-container shadow-sm">
      <!-- set image if products has one -->
      {% if product.image %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          class="card-img-top img-fluid"
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          aria-label="open up product details"
        />
      </a>
      <!-- or no image png if product has no image -->
      {% else %}
      <a href="{% url 'product_detail' product.id %}">
        <img
          class="card-img-top img-fluid"
          src="{{ MEDIA_URL }}noimage.png"
          alt="{{ product.name }}"
          aria-label="open up product details"
        />
      </a>
      {% endif %}
      <div class="">
        <div class="row">
          <!-- container with product info / buttons -->
          <div class="text-center">
            <!-- product info if a discount is applied -->
            {% if product.discount %}
              <h5>{{ product.product_name }}</h5>
              <p>{{product.discount}}</p>
              <p class="line-through">Price: £{{ product.price }}</p>
              <p>Offer Price: £{{ product.discount.discounted_price }}</p>
            <!-- product info if no discount -->
            {% else %}
              <h5>{{ product.product_name }}</h5>
              <p>Price : £{{ product.price }}</p>
            {% endif %}
            <!-- display current rating as stars -->
            {% if product.avg_rating %}
              {% if product.avg_rating == 1 %}
                <p>Rating: <i class="fa-solid fa-star"></i></p>
              {% elif product.avg_rating == 2 %}
                <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              {% elif product.avg_rating == 3 %}
                <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              {% elif product.avg_rating == 4 %}
                <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              {% elif product.avg_rating == 5 %}
                <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              {% endif %}
            <!-- if no rating display text-->
            {% else %}
            <p class="text-muted">This product doesn't currently have any customer ratings</p>
            {% endif %}
            {% if product.category %}
            <p>Category : {{ product.category.friendly_name }}</p>
            {% endif %}
            <!-- link to product details page -->
            <div class="d-inline-block">
              <a
                href="{% url 'product_detail' product.id %}"
                class="d-block button mb-5"
                aria-label="open up product details"
                >View product details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
  <div class="col-8 mx-auto m-2 mb-5 offset-2 text-center">
    <!-- display products home button if no query/sort/category in url -->
    {% if request.GET.category or request.GET.q or request.GET.sort %}
      <a href="{% url 'products' %}" class="button" aria-label="view all products">View All Products</a>
    {% endif %}
  </div>
</div>
{% endblock %}
